/* src/Components/Popular/Popular.css */

.new-collections {
  width: 100%;
  padding: 60px 80px;
  box-sizing: border-box;
  text-align: center;
}

.new-collections-title {
  font-size: 40px;
  font-weight: 600;        /* Bold but not too heavy */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}

.new-collections hr {
  width: 120px;
  height: 3px;
  background: #000;
  border: none;
  margin: 0 auto 50px auto;
}new-collections

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}