/* src/Components/Popular/Popular.css */

.popular {
  width: 100%;
  padding: 60px 80px;
  box-sizing: border-box;
  text-align: center;
}

.popular-title {
  font-size: 40px;
  font-weight: 600;        /* Bold but not too heavy */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}

.popular hr {
  width: 120px;
  height: 3px;
  background: #000;
  border: none;
  margin: 0 auto 50px auto;
}

.popular-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
